numpy>=1.21.0
pandas>=1.3.0
matplotlib>=3.5.0
reportlab>=4.0.0
scipy
scikit-posthocs>=0.7.0 
seaborn
spm1d
plotly
PyPDF2>=2.0.0
python-dateutil>=2.8.2
pytz>=2022.7
setuptools>=65.5.0
statannotations
openpyxl
pyinstaller>=5.0
